name: Build and test

on: push

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Run elastisearch container
        run: docker-compose up -d

      - name: List containers
        run: docker-compose ps

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Testing
        run: ./gradlew check --console rich --info

      - name: Check building
        run: ./gradlew gem --console rich --info

      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: tests
          path: ./build/reports/tests/test

      - name: JaCoCo test report
        if: success()
        run: ./gradlew jacocoTestReport

      - uses: actions/upload-artifact@v2
        if: success()
        with:
          name: jacoco
          path: ./build/reports/jacoco/test
